.header {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 100px;

}
.header-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
  color: whitesmoke;

}