.search-bar {
  text-align: center;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;


}
.search-input {
  width: 37%;
  height: 40px;
  border-style: none;
  padding-left: 10px;
}
.search-input1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-input2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-left: 3px solid black; */

}
.search-button:hover {
  color: red;
}
span {
border-left: 2px solid rgb(245, 241, 241);
}
.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
